.widget.c-news.c-news-template-2 .widget-content {
  position: relative;
  margin: 0 40px;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item {
  position: relative;
  overflow: hidden;
  display: block;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-picture {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-text {
  padding: 0 20px;
  padding-bottom: 30px;
  position: relative;
  min-height: 100px;
  overflow: hidden;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-name {
  max-height: 60px;
  overflow: hidden;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-name-wrapper {
  font-size: 14px;
  color: #353639;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-description {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #353639;
  font-size: 13px;
  line-height: 16px;
  max-height: 48px;
  overflow: hidden;
}
.widget.c-news.c-news-template-2 .widget-content .widget-item-date {
  overflow: hidden;
  display: block;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #898989;
  text-align: left;
  position: absolute;
  bottom: 15px;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation {
  position: absolute;
  height: 100%;
  top: 0;
  left: -40px;
  right: -40px;
  font-size: 0;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-wrapper {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-wrapper i {
  font-size: 12px;
  color: #abaaaa;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-previous,
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-next {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-previous {
  float: left;
}
.widget.c-news.c-news-template-2 .widget-content .widget-navigation-next {
  float: right;
}
.widget.c-news.c-news-template-2 .widget-content .widget-dots {
  display: none;
  font-size: 0;
  text-align: center;
}
.widget.c-news.c-news-template-2 .widget-content .widget-dots.disabled {
  opacity: 0;
}
.widget.c-news.c-news-template-2 .widget-content .widget-dots .owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.widget.c-news.c-news-template-2 .widget-content .widget-dots .owl-dot.active {
  background: #3e6af8;
  border-color: #3e6af8;
}
.widget.c-news.c-news-template-2 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-news.c-news-template-2 .widget-footer-button:hover, .widget.c-news.c-news-template-2 .widget-footer-button:focus, .widget.c-news.c-news-template-2 .widget-footer-button:active {
  color: #fff !important;
}
@media all and (max-width: 400px) {
  .widget.c-news.c-news-template-2 .widget-item-picture-wrap {
    display: none;
  }
  .widget.c-news.c-news-template-2 .widget-item-text {
    padding: 15px;
  }
  .widget.c-news.c-news-template-2 .widget-item-date {
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
