$component: 'footer';
$template: 'template-1';
$class: #{$component};

.c-#{$component}.c-#{$component}-#{$template} {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
}